@page
@model UserManagement.Pages.SignUpModel
@{
}

<h1>Sign up</h1>


<form method="post">
    <div class="row">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="row">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="row">
        <input type="submit" value="Sign Up" />
    </div>
</form>

<div asp-validation-summary="All" class="text-danger"></div>