@page "{text}"
@model NoteManager.Pages.AddNoteModel
@{
}

<p>You added <b>@Model.Text</b></p>

<h1>All My Notes</h1>
<h4>
    <ul>

@foreach(var text in Notes.Texts)
        {
            <li>@text</li>
        }
    </ul>
</h4>
