@page
@model NoteManager.Pages.NotesModel

<h1>These are my notes!!!</h1>

<a asp-page="AddNote">Add new Note</a>

<table class="table table-hover table-striped">
    <thead>
        <tr class="table-info">
            <td>Actions</td>
            <td>Text
                <span style="font-size:20pt">
                @if(Model.Sort == "asc")
                {
                    <a asp-page="Notes" asp-route-Sort="des">↓</a>
                }
                else if (Model.Sort == "des")
                {
                    <a asp-page="Notes">x</a>
                }
                else
                {
                    <a asp-page="Notes" asp-route-Sort="asc">↑</a>
                }
                </span>
            </td>
            <td>Insert Date</td>
            <td>update Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var note in Model.Notes)
        {
            <tr>
                <td><a asp-page="EditNote" asp-route-Id="@note.Id" class="btn btn-primary" role="button">Edit</a></td>
                <td>@note.Text</td>
                <td>@format(note.InsertDate)</td>
                <td>@format(note.UpdateDate)</td>
            </tr>

            string format(DateTime dt) => dt.ToString("MM/dd/yyyy (hh:mm tt)");
        }
    </tbody>
</table>
